<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}

        {% endblock %}
        
    </title>
    <link rel="stylesheet" href="../static/dist/main.css">
    <!-- background color -->
    <style>
        body{
            background-color: #212121;
            color: #fff;
        }
    </style>
</head>
<body>
    <!-- navbar -->
    <nav class="bg-gray-700 h-12">
        <ul class="flex w-full justify-between">
            <div class="flex my-3 md:w-1/4 md:justify-around">
            <li class="px-3">Flask Market</li>
            <li>
                <a class="hover:text-yellow-400 transition pr-2" href="{{ url_for('home_page') }}">Home</a>
            </li>
            <li>
                <a class="hover:text-yellow-400 transition" href="{{ url_for('market_page') }}">Market</a>
            </li>
            </div >
            <div class="flex my-3 md:w-1/6 md:justify-around">
            <li class="pr-2">Login</li>
            <li>
                <a class="hover:text-yellow-400 transition" href="{{ url_for('register_page') }}">Register</a>
            </li>
            </div>
        </ul>
    </nav>
    <!-- main content -->
    {% block content %}

    {% endblock %}
</body>
</html>