{% extends 'base.html' %}

<!-- title -->
{% block title %}
    Market Page
{% endblock %}

{% block content %}
    <!-- container -->
    <div class="p-6 max-w-6xl h-screen m-auto">

        <!-- table -->
        <table class="table-auto m-auto w-full">
            <tbody>
                   <tr class="bg-gray-800">
                        <td>ID</th>
                        <td>Name</th>
                        <td>Barcode</th>
                        <td>Price</th>
                        <td>Options</td>
                    </tr>
                    {% for item in items %}
                    <tr class="divide-y-2 divide-blue-300 divide-solid bg-gray-800">
                        <td >{{ item.id }}</td>
                        <td>{{ item.name }}</td>
                        <td>{{ item.barcode }}</td>
                        <td>$ {{ item.price }}</td>
                        <td>
                            <button class="focus:ring-2 focus:ring-blue-600 hover:shadow-2xl btn bg-blue-700 rounded-lg p-1 m-1 hover:bg-blue-500  transition delay-100 duration-200 ease-in-out hover:transform hover:scale-100">Purchase</button>
                            <button class=" focus:ring-2 focus:ring-yellow-600 hover:shadow-2xl btn bg-yellow-600 shadow-2xl rounded-lg p-1 m-1 hover:bg-yellow-500  transition delay-100 duration-200 ease-in-out">More info</button>
                        </td>
                    </tr>
                    {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
